
:root {
    --color-accent: #34547A;
    --color-title: #000;
    --color-main: #727272;
    --color-contrast: #fff;
    --bg-main: #EEEFF1;
    --bg-accent: #f9f9f9;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-main);
    background-color: var(--bg-main);
    line-height: 1.64;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-title);
    font-weight: 500;
}

.center {
    padding: 0 calc(50vw - 555px);
    box-sizing: border-box;
}

/*btn*/
.btn {
    background: var(--color-accent);
    color: var(--color-contrast);
    text-decoration: none;
    max-width: 225px;
    width: 100%;
    min-height: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}

.btn:hover, .btn:focus {
    background: var(--color-contrast);
    color: var(--color-accent);
}

/*btn*/
/*header*/
.header {
    padding-top: 80px;
    background: var(--bg-main);
    position: sticky;
    top: 0;
}

/*header*/

/*nav*/
.nav__list {
    color: var(--color-main);
    padding-left: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 42px;
}

.nav__link {
    color: var(--color-title);
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
    text-decoration: underline;
}

.nav__:active {
    opacity: .7;
}

.nav__link.nav__link--active {
    color: var(--color-accent);
    font-weight: 500;
}

/*nav*/
/*offer*/
.offer {
    padding-top: 142px;
    padding-bottom: 142px;
}

.offer__content {
    max-width: 540px;
}

.offer__title {
    margin: 0 0 60px;
}

.offer__desc {
    margin: 0 0 60px;
}

/*offer*/
/*text*/
.text__about {
    text-align: center;
}

.text__about-mi {
    text-align: center;
    white-space: pre-line;

}

/*text*/
/*block*/
.block {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    color: var(--color-contrast);
    background-color: var(--color-accent);
    min-height: 250px;
    margin-top: 100px;
    gap: 45px;
}

.block__item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.block__span {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 21px;
}

.block__span2 {
    margin-top: 30px;
    margin-left: -35px;
    font-weight: 400;
    font-size: 18px;

}

.block__img {
    margin-right: 20px;
}

/*block*/
/*work*/
.block__work {
    text-align: center;
    margin-top: 100px;
}

.block__text {
    text-align: center;
    white-space: pre-line;
}

.button {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;

}

.button__play {
    position: absolute;
    top: 40%;
    background: none;
    border: none;

}

/*work*/
/*footer*/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--color-accent);
    color: var(--color-contrast);

}

.footer__name {
    color: var(--color-contrast);
    margin: 0 0 20px;
    font-size: 21px;

}

.footer__copyright {
    font-size: 13px;
    margin: 0;
}

@media screen and (max-width: 1220px) {
    .center {
        padding-left: calc(50vw - 450px);
        padding-right: calc(50vw - 450px);
    }
}

@media screen and (max-width: 1160px) {
    .block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .block__item {
        flex: 1 1 calc(33.333% - 10px);
        justify-content: center;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 1024px) {
    .center {
        padding-left: calc(50vw - 350px);
        padding-right: calc(50vw - 350px);
    }

    .block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .block__item {
            flex: 1 1 calc(33.333% - 10px);
            justify-content: center;
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
        }

        .button {
            width: 1024px;
            height: 948px;
            overflow: hidden;
            position: relative;
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }

    @media screen and (max-width: 1010px) {
        .center {
            padding-left: calc(50vw - 310px);
            padding-right: calc(50vw - 310px);
        }

        .button {
            width: 1010px;
            height: 948px;
            overflow: hidden;
            position: relative;
            margin-top: 100px;
            margin-bottom: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

    }

}

@media screen and (max-width: 930px) {
    .center {
        padding-left: calc(50vw - 300px);
        padding-right: calc(50vw - 350px);
    }

    .nav__list {
        flex-wrap: wrap;
    }

    .block {
        margin-top: 20px;
    }

    .button {
        width: 920px;
        height: 948px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 860px) {
    .center {
        padding-left: calc(50vw - 280px);
        padding-right: calc(50vw - 280px);
    }

    .button {
        width: 860px;
        height: 948px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media screen and (max-width: 820px) {
    .center {
        padding-left: calc(50vw - 260px);
        padding-right: calc(50vw - 260px);

    }

    .nav__list {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .offer__content {
        padding-bottom: 120px;
        padding-top: 50px;

    }

    .text__center {
        padding-bottom: 120px;

    }

    .button {
        width: 820px;
        height: 948px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .center {
        padding-left: calc(50vw - 250px);
        padding-right: calc(50vw - 250px);
    }


    .button {
        width: 760px;
        height: 940px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 730px) {
    .center {
        padding-left: calc(50vw - 230px);
        padding-right: calc(50vw - 230px);
    }

    .block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .button {
        width: 730px;
        height: 940px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }


}

@media screen and (max-width: 685px) {
    .center {
        padding-left: calc(50vw - 210px);
        padding-right: calc(50vw - 210px);
    }

    .block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .button {
        width: 685px;
        height: 940px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 660px) {
    .center {
        padding-left: calc(50vw - 150px);
        padding-right: calc(50vw - 150px);
    }

    .block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;


    }

    .button {
        width: 660px;
        height: 940px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
    .nav__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .button {
        width: 640px;
        height: 800px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 570px) {
    .block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .button {
        width: 570px;
        height: 800px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 540px) {
    .button {
        width: 540px;
        height: 800px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 430px) {
    .button {
        width: 430px;
        height: 800px;
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .offer__title {
        font-size: 30px;

    }

    .btn {
        min-height: 45px;
        padding: 15px 30px;
        max-width: 190px;
    }

    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer__name {
        font-size: 15px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 375px) {
    .button {
        width: 375px;
        height: 800px;
        overflow: hidden;
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}











