.nav__list {
  color: var(--color-main);
  padding-left: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 42px;
}

.&__link {
  color: var(--color-title);
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

.&__link:hover,
.&__link:focus {
  text-decoration: underline;
}

.&__:active {
  opacity: .7;
}

.&__link.&__link--active {
  color: var(--color-accent);
  font-weight: 500;
}